body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #e0dee9;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    margin: 5px;
}

#resultContainer {
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #e0dee9;
    padding: 10px;
}
