body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

div {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    color: #333333; 
}

label {
    display: block;
    margin-top: 10px;
    color: #555555; 
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #12e1cd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


label[id^="capital"], label[id^="lenguaje"] {
    margin-top: 15px;
    color: #555555; 
}

button[id^="limpiar"] {
    background-color: #12e1cd; 
}




